<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCEC9lu3DDymkUiXzcLc9VHkU7TvBLFB4w</string>
	<key>GCM_SENDER_ID</key>
	<string>637801434179</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.huprTexibooking</string>
	<key>PROJECT_ID</key>
	<string>taxi-a3e60</string>
	<key>STORAGE_BUCKET</key>
	<string>taxi-a3e60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:637801434179:ios:c88b4195fafc8043c4d8f6</string>
</dict>
</plist>